<style>
  h3 {
    font-size: 13px;
    font-family: verdana;
    color: white;
  }
</style>
<footer class="footer">
    <div>
    <h3> <a href="/"> home </a> </h3>
    <h3> <a href="about"> about </a> </h3>
    <h3> <a href="contact"> contact </a> </h3>
    </div>
</footer>
