<footer class="footer footer-default">
  <style>
    h3 {
      font-size: 13px;
      font-family: verdana;
      color: white ;
    }
    div.fixed {
      position: fixed;
      bottom: 0px;
      background-color: grey;
      width: 100%;
      padding: 5px;
    }
  </style>
  <div class="fixed">
    <h3> <a href="about"> about </a> </h3>
    <h3> <a href="contact"> contact </a> </h3>
    <h3> <a href="/"> home </a> </h3>
  </div>
</footer>
