<nav class="navbar navbar-default">
  <style>
    h1 {
      font-size: 40px;
      font-family: verdana;
      color: #4DC0A3;
    }
    div.fixed-nav {
      top: 0px;
      background-color: #1F2468;
      width: 100%;
      padding: 10px;
      border: solid #4DC0A3 5px; 
    }
    img.logo {
        padding: 6px;
    }
  </style>
  <div class="fixed-nav">
      <h1>  EXPLORE THE WORLD! <img class="logo" src="images/camera.png" height="50" width="50"> </h1>
  </div>
</nav>
