<nav class="navbar navbar-default">
  <style>
    h1 {
      font-size: 40px;
      font-family: verdana;
      color: white ;
    }
    div {
        background-color: #575454;
        padding: 20px;
        text-align: center
    }
  </style>
  <div >
    <h1>  EXPLORE THE WORLD! </h1>
  </div>
</nav>
