<!DOCTYPE html>
<html>

<head>
    <title> Explore the World! </title>
    <style>
        body {
            height: 100vh;
            align-items: 'flex-start'; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f7e948
        }.content {
            margin: 0;
            bottom: 0px;
        }
        .footer {
            bottom: 0px;
            margin-bottom: 0px;
            background-color: grey;
            width: 100%;
            padding: 5px;
            height: 112px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    {{>navbar}}
    {{{body}}}
    {{>footer}}
</body>

</html>
