<!DOCTYPE html>
<html>

<head>
    <title> Explore the World! </title>
    <style>
        body {
            background-color: #2eb82e
        }
    </style>
</head>

<body>

    {{{body}}}

</body>
</html>
