<!DOCTYPE html>
<html>

<head>
    <title> Explore the World! </title>
    <style>
        body {
            height: 100%;
            background-color: #f7e948
        }.content {
            margin: 0 auto -50px;
            bottom: 50px; 
        }
        .footer {
            position: fixed;
            bottom: 0px;
            background-color: grey;
            width: 100%;
            padding: 5px;
            height: 112px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    {{>navbar}}
    {{{body}}}
    {{>footer}}
</body>

</html>
