<!DOCTYPE html>
<html>

<head>
    <title> Explore the World! </title>
    <style>
        body {
            background-color: #faeb4b
        }
    </style>
</head>

<body>
    {{> navbar}}
    {{{body}}}
</body>

</html>
