<p style="font-family: verdana"> About: We love travel and exploring the world. So combined with the search powers of Tripadvisor, we're bringing you
a website that helps with planning and the itinerary for your past, current, and future trips, including how you'll
get there, where you'll stay, and what you'll do! Plan a trip with us!
</p>
