<style>
    div {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div>
<body>
    <p font-family="verdana" style="color:black"> <b> Let's make a new itinerary! </b> </p>
    <p font-family="verdana" style="color:black"> <b> Where do you want to go? [Search for any city]</b>
        <form method="GET" action="/location">
            <b> Location: </b>
            <input type="text" id="location" name="location"/>
            <button class="btn btn-primary" type="submit"> ENTER </button>
        </form>
    </p>
</body>
</div>
