<body>
    <h1 style="font-family: verdana"> EXPLORE THE WORLD! </h1>
    <p style="font-family: verdana"><a href="contact">Contact</a></p>
    <p style="font-family: verdana"><a href="about">About</a></p>
</body>
