<body>
    <p font-family="verdana"> Let's make a new itinerary! </p>
    <p font-family="verdana"> Where do you want to go?
        <form method="GET" action="/location">
            Location:
            <input type="text" id="location" name="location"/>
            <button class="btn btn-primary" type="submit"> ENTER </button>
        </form>
    </p>
</body>
